{% for id in widgets_order %}
    {%- set widget = widgets[id] -%}
    {%- set w_type = widget.widget_type | default(value=widget.type | default(value="space")) -%}
     
    let {{ id }} = 
    {%- if w_type == "text" -%}
        {%- include "widgets/text.tera" -%}
    {%- elif w_type == "button" -%}
        {%- include "widgets/button.tera" -%}
    {%- elif w_type == "button_box" -%}
        {%- include "widgets/button_box.tera" -%}
    {%- elif w_type == "checkbox" -%}
        {%- include "widgets/checkbox.tera" -%}
    {%- elif w_type == "column" -%}
        {%- include "widgets/column.tera" -%}
    {%- elif w_type == "container" -%}
        {%- include "widgets/container.tera" -%}
    {%- elif w_type == "h_rule" -%}
        {%- include "widgets/h_rule.tera" -%}
    {%- elif w_type == "image" -%}
        {%- include "widgets/image.tera" -%}
    {%- elif w_type == "mouse_area" -%}
        {%- include "widgets/mouse_area.tera" -%}
    {%- elif w_type == "pick_list" -%}
        {%- include "widgets/pick_list.tera" -%}
    {%- elif w_type == "progress_bar" -%}
        {%- include "widgets/progress_bar.tera" -%}
    {%- elif w_type == "qr_code" -%}
        {%- include "widgets/qr_code.tera" -%}
    {%- elif w_type == "radio" -%}
        {%- include "widgets/radio.tera" -%}
    {%- elif w_type == "row" -%}
        {%- include "widgets/row.tera" -%}
    {%- elif w_type == "scrollable" -%}
        {%- include "widgets/scrollable.tera" -%}
    {%- elif w_type == "slider" -%}
        {%- include "widgets/slider.tera" -%}
    {%- elif w_type == "space" -%}
        {%- include "widgets/space.tera" -%}
    {%- elif w_type == "stack" -%}
        {%- include "widgets/stack.tera" -%}
    {%- elif w_type == "svg" -%}
        {%- include "widgets/svg.tera" -%}
    {%- elif w_type == "text_input" -%}
        {%- include "widgets/text_input.tera" -%}
    {%- elif w_type == "toggler" -%}
        {%- include "widgets/toggler.tera" -%}
    {%- elif w_type == "v_rule" -%}
        {%- include "widgets/v_rule.tera" -%}

    {# При неопознанном виджете используем заменитель Space #}
    {%- else -%}
        space::Space::new().width(0.0).height(0.0)
    {%- endif -%}
        .into();

{% endfor %}


