{# Файл: templates/src/main.rs.tera #}
// =============================================================================
// СГЕНЕРИРОВАНО АВТОМАТИЧЕСКИ
// Из шаблона для GUI приложения Iced 0.14
// =============================================================================
pub mod app;
pub mod core; 

pub use crate::app::App;
pub use crate::core::{logger};

/// Динамический заголовок окна
pub const APP_TITLE: &'static str = "{{ project_title | default(value='Iced Forms') }}\0";

fn main() {
    // Инициализация системного логгера
    logger::init();
    log::info!("Старт программы");

    // Запуск окна Iced формы
    let _ = app::App::run();

    log::info!("Завершение программы");

}
