{# Файл: templates/src/app.rs.tera #}
use crate::APP_TITLE;
use crate::core::*;



// Пример: Грузим шрифты
// pub const FONT_MATERIAL: Font = Font::with_name("Material Icons");
// pub const FONT_MATERIAL_BYTES: &[u8] = include_bytes!("../../assets/fonts/MaterialIcons-Regular.ttf");

#[derive(Debug)]
pub struct AppState {

    // Переменные состояния для активных элементов
    {#- Объявление State для виджетов -#}

    {#- CheckBox state: Текущий статус и название label -#}
    {{- < state_checkbox_declare widgets_order={widgets_order} widgets={widgets} /> -}}

    {#- PickList state: Текущий статус -#}
    {{- < state_pick_list_declare widgets_order={widgets_order} widgets={widgets} /> -}}

    {#- ProgressBar state: Текущий статус -#}
    {{- < state_progress_bar_declare widgets_order={widgets_order} widgets={widgets} /> -}}

    {#- QRCode state: Текущий статус -#}
    {{- < state_qr_code_declare widgets_order={widgets_order} widgets={widgets} /> -}}

    {#- Slider state: Текущий статус -#}
    {{- < state_slider_declare widgets_order={widgets_order} widgets={widgets} /> -}}

    {#- TextInput state: Текущий статус -#}
    {{- < state_text_input_declare widgets_order={widgets_order} widgets={widgets} /> -}}

    {#- Radio state: Cтатус группы -#}
    {{- < state_radio_declare widgets_order={widgets_order} widgets={widgets} /> -}}

    {#- Toggler state: Cтатус группы -#}
    {{- < state_toggler_declare widgets_order={widgets_order} widgets={widgets} /> -}}
    
    {# Добавить остальные #}
}

impl AppState {
    fn new() -> Self {
        Self {
            // Инициализация переменных состояния для активных элементов
            {# State: Инициализация значения #}

            {#- Radio -#}
            {{- < state_radio_init widgets_order={widgets_order} widgets={widgets} /> -}}

            {#- CheckBox -#}
            {{- < state_checkbox_init widgets_order={widgets_order} widgets={widgets} /> -}}
            
            {#- PickList -#}
            {{- < state_pick_list_init widgets_order={widgets_order} widgets={widgets} /> -}}

            {#- ProgressBar -#}
            {{- < state_progress_bar_init widgets_order={widgets_order} widgets={widgets} /> -}}

            {#- QRCode -#}
            {{- < state_qr_code_init widgets_order={widgets_order} widgets={widgets} /> -}}

            {#- Slider -#}
            {{- < state_slider_init widgets_order={widgets_order} widgets={widgets} /> -}}

            {#- TextInput -#}
            {{- < state_text_input_init widgets_order={widgets_order} widgets={widgets} /> -}}

            {#- Toggler -#}
            {{- < state_toggler_init widgets_order={widgets_order} widgets={widgets} /> -}}


            {# Добавить остальные #}
        }
    }
}

impl Default for AppState {
    fn default() -> Self {
        Self::new() 
    }
}

#[derive(Debug, Default)]
pub struct App {
    pub state: AppState,
}

impl App {
    pub fn init() -> (App, iced::Task<Message>) {
        let mut app = App::default();
        (app, iced::Task::none())
    }

    pub fn update(&mut self, message: Message) -> iced::Task<Message> {
        match message {
             // Глобальный перехват сообщений
            // Фильтрация и обработка выбранных сообщений
            Message::GlobalEvent(event) => {
                
                match event {
                    // Сообщения клавиатуры
                    iced::Event::Keyboard(iced::keyboard::Event::KeyPressed { 
                        key: iced::keyboard::Key::Named(iced::keyboard::key::Named::Tab), 
                        modifiers, // Можно проверить Shift+Tab через modifiers.shift()
                        .. 
                    }) => {
                        if modifiers.shift() {
                            // Если зажат Shift, перемещаем фокус НАЗАД
                            return iced::widget::operation::focus_previous::<Message>();                            
                        } else {
                            return iced::widget::operation::focus_next::<Message>();
                        }
                    }

                    _ => {  }
                }
            }

            Message::WidgetEvent(action) => {
                match action {                    
                    WidgetAction::OnPress(id, prop_act) => {
                        on_press(self, &id, &prop_act);
                    }
                    WidgetAction::OnToggle(id, prop_act, val) => {
                        on_toggle(self, &id, &prop_act, val);
                    }
                    WidgetAction::OnSliderChange(id, prop_act, val) => {
                        on_slider_change(self, &id, &prop_act, val);
                    }
                    WidgetAction::OnInputChange(id, prop_act, val) => {
                        on_input_change(self, &id, &prop_act, val);
                    }
                    WidgetAction::OnMouseEnter(id, prop_act) => {
                        on_mouse_enter(self, &id, &prop_act);
                    }
                    WidgetAction::OnMouseExit(id, prop_act) => {
                        on_mouse_exit(self, &id, &prop_act);
                    }
                    WidgetAction::NoOp => {
                        log::warn!("Событие WidgetAction::NoOp в нормальном режиме вызываться не должно. Проверьте источник события.");
                    }
                }
            }

            // Пустая операция-заглушка
            Message::NoOp => {
                log::warn!("App::update: Выполнена операция-заглушка 'Message:: NoOp'.");
                return iced::Task::none()
            }
            // Пустая операция по дефолту - ловит все неизвестные события и выводит ошибку в лог
            _ => {
                log::error!("App::update: Выполнено необрабатываемое событие 'Message'. \
                    При нормальной работе программы данное сообщение не появляется. \
                    Проверьте возможные источники события 'Message::NoOp'");
                return iced::Task::none()
            }
        };
        iced::Task::none()
    }

    pub fn view(&self) -> iced::Element<'_, Message, iced::Theme> {
        view::render_workspace(self)
    }

    pub fn run() -> iced::Result {
        // Пример: Грузим шрифты
        // let font_matrial_bytes = uitheme::FONT_MATERIAL_BYTES;


        iced::application(
            App::init,
            App::update, 
            App::view
        )
        .title(APP_TITLE)
        // Пример: Грузим шрифты (можно несколько)
        // .font(font_matrial_bytes)
        // .font(font_serif)
        .theme(App::theme) 
        .subscription(App::subscription)
        .run()
    }

    pub fn theme(&self) -> iced::Theme {
        iced::Theme::Light
    }

    fn subscription(&self) -> iced::Subscription<Message> {
        iced::event::listen().map(Message::GlobalEvent)     
    }
}

{# === Diagnostics === #}
{# {{__tera_context}} #}