{# Файл: templates/widgets/column.tera #}
{# --- COLUMN --- #}

{# Файл: templates/widgets/column.tera #}
{# --- COLUMN --- #}

{# Создаем локальный массив для сбора только тех детей, у которых parent == ID этой колонки #}
{%- set child_ids = [] -%}
{%- for potential_child_id in widgets_order -%}
    {%- set child_widget = widgets[potential_child_id] -%}
    
    {%- if child_widget.properties and child_widget.properties.parent == id -%}
        {%- set_global child_ids = [...child_ids, potential_child_id] -%}
    {%- endif -%}
{%- endfor -%}

{# Создаем элемент column #}
column![
    {%- for child_id in child_ids %}
        {{ child_id }},
    {%- endfor %}
]
    {{- < width      props={widget.properties} /> -}}
    {{- < height     props={widget.properties} /> -}}
    {{- < max_width  props={widget.properties} /> -}}
    {{- < padding    props={widget.properties} /> -}}
    {{- < spacing    props={widget.properties} /> -}}
    {{- < align_x    props={widget.properties} /> -}}

